<form *ngIf="!isLoggedIn" class="example-form" (ngSubmit)="form.valid && onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input type="username" matInput [(ngModel)]="form.username" [formControl]="usernameFormControl" placeholder="Username">
    <mat-error *ngIf="usernameFormControl.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput [(ngModel)]="form.password" [formControl]="passwordFormControl" placeholder="Password">
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <section>
  <div class="example-button-row">
    <button mat-raised-button type="submit" (click)="onSubmit()">Submit</button>
  </div>
</section>
</form>
<div class="alert alert-success" *ngIf="isLoggedIn">
  Logged in as {{ roles }}.
</div>
<div class="alert alert-failure" *ngIf="isLoginFailed">
  Login failed. {{errorMessage}}
</div>
