<mat-card *ngIf="!isLoggedIn" class="example-card" layout="row" layout-fill layout-align="center center">
  <span>Sign In</span>
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input type="username" formControlName="username" matInput [(ngModel)]="form.username" [formControl]="usernameFormControl" placeholder="Username">
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput [(ngModel)]="form.password" [formControl]="passwordFormControl" placeholder="Password">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <section>
      <div class="example-button-row">
        <button mat-raised-button type="submit">Submit</button>
      </div>
    </section>
  </form>
  <div class="alert alert-failure" *ngIf="isLoginFailed">
    Login failed. {{errorMessage}}
  </div>
</mat-card>
