<ng-container>
  <mat-toolbar class="example-header" color="primary">
    <span>Pacifica Visualizer and Archiver</span>
    <div *ngIf="isLoggedIn">
<!--        <a href="/profile" class="mat-menu-item" routerLink="profile">{{ username }}</a>-->
        <a href class="mat-menu-item" (click)="logout()">LogOut</a>
      <a href="/home" class="mat-menu-item" mat-flat-button routerLink="home">Home</a>
        <span>Logged in as {{ username }}.</span>

    </div>
    <div *ngIf="!isLoggedIn">
      <a href="/register" class="mat-menu-item" routerLink="register">Sign Up</a>
      <a href="/login" class="mat-menu-item" routerLink="login">Login</a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>

      <mat-list>
        <mat-divider></mat-divider>
        <div *ngIf="isLoggedIn">
          <mat-list-item><a href="/home" class="mat-menu-item" mat-flat-button routerLink="home">Home</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="/admin" class="mat-menu-item" routerLink="admin">Admin Board</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="/mod" class="mat-menu-item" routerLink="mod">Moderator Board</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="/user" class="mat-menu-item" *ngIf="isLoggedIn" routerLink="user">User</a></mat-list-item>
          <mat-divider></mat-divider>
        </div>

      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">
      <main><router-outlet></router-outlet></main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="example-footer">Code by LeftCoastTech</mat-toolbar>
</ng-container>
