<ng-container>
  <mat-toolbar class="example-header" color="primary">
    <span>My App</span>
    <div *ngIf="isLoggedIn">
        <a href="/profile" class="mat-menu-item" routerLink="profile">{{ username }}</a>
        <a href class="mat-menu-item" (click)="logout()">LogOut</a>
    </div>
    <div *ngIf="!isLoggedIn">
      <a href="/register" class="mat-menu-item" routerLink="register">Sign Up</a>
      <a href="/login" class="mat-menu-item" routerLink="login">Login</a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav *ngIf="isLoggedIn" #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom">
      {{options.value.fixed ? 'Fixed' : 'Non-fixed'}} Sidenav

      <mat-list>
        <mat-divider></mat-divider>
        <div *ngIf="isLoggedIn">
          <mat-list-item><a href="/home" class="mat-menu-item" mat-flat-button routerLink="home">Home</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="/admin" class="mat-menu-item" routerLink="admin">Admin Board</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="/mod" class="mat-menu-item" routerLink="mod">Moderator Board</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="/user" class="mat-menu-item" *ngIf="isLoggedIn" routerLink="user">User</a></mat-list-item>
          <mat-divider></mat-divider>
        </div>

      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="example-footer">Footer</mat-toolbar>
</ng-container>


<!--<mat-drawer-container class="example-container">-->
<!--  <mat-drawer mode="side" opened>Drawer content-->
<!--    <router-outlet></router-outlet>-->
<!--    <div id="app">-->
<!--      <nav class="navbar navbar-expand navbar-dark bg-dark">-->
<!--        <ul class="navbar-nav mr-auto" routerLinkActive="active">-->
<!--          <li class="nav-item">-->
<!--            <a href="/home" class="nav-link" routerLink="home">Home </a>-->
<!--          </li>-->
<!--          <li class="nav-item" *ngIf="showAdminBoard">-->
<!--            <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>-->
<!--          </li>-->
<!--          <li class="nav-item" *ngIf="showModeratorBoard">-->
<!--            <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>-->
<!--          </li>-->
<!--        </ul>-->

<!--        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">-->
<!--          <li class="nav-item">-->
<!--            <a href="/register" class="nav-link" routerLink="register">Sign Up</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="/login" class="nav-link" routerLink="login">Login</a>-->
<!--          </li>-->
<!--        </ul>-->

<!--        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">-->
<!--          <li class="nav-item">-->
<!--            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href class="nav-link" (click)="logout()">LogOut</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </mat-drawer>-->
<!--  <mat-drawer-content>Main content-->
<!--    <div class="container">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </mat-drawer-content>-->
<!--</mat-drawer-container>-->
