<ng-container>
  <mat-toolbar class="example-header" color="primary" style="width: 100%;">
    <span>Elmira Data Tracking</span>
    <span class="flexExpand"></span>
    <div *ngIf="isLoggedIn">
        <span style="margin-left: 60vw;">Logged in as {{ username }}.</span>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>

      <mat-list>
        <mat-divider></mat-divider>
        <div *ngIf="isLoggedIn">
          <mat-list-item><a href="/home" mat-button routerLink="home">Home</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="/abc-list" class="mat-menu-item" routerLink="abc-list">ABCs</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="/daily-list" class="mat-menu-item" routerLink="daily-list">Dailies</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href="/message-board" class="mat-menu-item" routerLink="message-board">Consultant</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a class="mat-menu-item" routerLink="archive">Archive</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a href class="mat-menu-item" (click)="logout()">LogOut</a></mat-list-item>
        </div>

      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">
      <main><router-outlet></router-outlet></main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="example-footer">
    <a href="http://leftcoasttechsolutions.com">©2021 Left Coast Tech Solutions</a>
  </mat-toolbar>
</ng-container>
