<h1 class="text-center">ABCs</h1>

<mat-form-field appearance="fill">
  <mat-label>Client</mat-label>
  <mat-select (selectionChange)="onClientSelect()" [(value)]="selected">
    <mat-option *ngFor="let client of clients" [value]="client">
      {{client}}
    </mat-option>
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element" [routerLink]="['/report/', element.id ]"> {{element[column]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<!--<mat-nav-list>-->
<!--  <div *ngFor="let entry of reportData; let i = index">-->
<!--    <a class="mat-menu-item" mat-flat-button [routerLink]="['/report/', i ]" style="margin-left: 100px;">-->
<!--      {{entry.timestamp}} - {{entry.client}} - {{entry.staff}} - {{entry.abbr_notes}}-->
<!--    </a>-->
<!--    <mat-divider></mat-divider>-->
<!--  </div>-->
<!--</mat-nav-list>-->
