table {
  width: 100%;
}

.mat-cell {
  padding: 5px 12px 2px 12px;
}
.mat-header-cell {
  padding: 0px 12px 0px 12px;
}

h1 {
  display: block;
  text-align: center;
  margin-block-end: 26px;
  margin-block-start: 26px;
  font-size: 26px;
}
.text-center {
  text-align: center;
}
