table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  //min-width: 200px;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 5px 12px 2px 12px;
}
.mat-header-cell {
  padding: 0px 12px 0px 12px;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  font-size: 14px;
  padding: 0px 12px 0px 12px;
}

.mat-list .mat-list-item {
  height: 20px; /* default is 72px */
}

.detail-text {
  margin-right: 20px;
}
